node_modules
.env
coverage
coverage.json
lcov.info
typechain
typechain-types

# Hardhat files
cache
artifacts

# VS Code
.vscode

# Mac
.DS_Store

# Gas reports
gasReporterOutput.json

# Local deployments
deployments/localhost
deployments/hardhat

# Temporary files
*.tmp
*.log

# Test coverage
coverage/
coverage.json
lcov.info